.App {
  text-align: center;
}

h1 {
  margin: 0; /* Add this line to remove the margin */
}
button{
  margin:10px;
}

.container {
  margin: 0;

  text-align: center;
  background: #333;
  color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  max-width: 100%;
}

.site-name {
  cursor: pointer;
  margin-bottom: 0;
}

.resource-link {
  color: rgba(255, 255, 255, 0.7);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  /* Your existing styles for button */

  /* Add responsive styles */
  font-size: 16px;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .container {
    /* Additional styles for smaller screens */
    padding: 10px;
  }

  .site-name {
    /* Additional styles for smaller screens */
    font-size: 20px;
  }

  .resource-link {
    /* Additional styles for smaller screens */
    font-size: 16px;
  }

  button {
    /* Additional styles for smaller screens */
    font-size: 14px;
  }
}